#leftsidepanel {
    height: 100%; 
    min-height: 100%; 
    width: 20%; 
    margin: 0; 
    float:left;
	font-family: Arial, Helvetica, sans-serif;
}
*{
 	margin: 0; 
 	padding: 0;
 } 

#container {
	width: 100%;
	float: left;
	height: 100%;
}

#leftsidepanel + #container { 
     height: 100%;
     min-height: 100%;
     width: 80%;  
     margin: 0 auto; 
 padding: 0 auto;
    float:left;
}

#leftsidepanel h1{
	font-variant: small-caps;
	font-size:1.5em;
}

#leftsidepanel p{
	font-size: .9em;
}

#leftsidepanel p#introduction{
	margin-bottom: 1em;
}

#header {
	max-height:30%;
	height:22%%;
	width:100%;
	position:relative;
	background-color:#b0c4de;
	float:left;
	clear: both;
	overflow-y: hidden;
}

#leftsidepanel #header h1{
	padding: 7px 7px 7px 7px;
	text-align:center;
}

#leftsidepanel #header p{
	padding: 7px 7px 7px 7px;
}

#content {
	max-height: 78%;
	position:relative;
	float: left;
	overflow-y: scroll;
	width:100%;
	z-index: 2;
}

#leftsidepanel div.pano_stop{
	border-top: 1px solid black;
	padding-bottom: 0;
}

#leftsidepanel div.pano_stop h2 a{
	padding: 1em 5%;
	/*text-shadow: 2px 2px #fff;*/
}

#leftsidepanel div.pano_stop h2.has_thumb a{
	background-color: rgba(255,255,255,.8);
}

#leftsidepanel div.pano_stop p{
	padding: 0 5% 1em 5%;
}
#leftsidepanel h2{
	font-size: 1.25em;
}

#leftsidepanel h2 a{
	color: #555;
	display:block;
	width: 90%;
}

#leftsidepanel h2 a img.thumbnail{
	position:relative;
	float: right;
	height: 25px;
	width: 40px;
	vertical-align: bottom;
}

#leftsidepanel div.pano_stop ol.hotspots{
	padding-left: 2em;
	padding-bottom: 1em;
}

#gotopagetext {
	width: 50%;
	height: 20%;
	float: left;
}

#gotopagebox {
	width: 20%;
	height: 20%;
	float: left;
}

#gotopagesubmit {
	width: 20%;
	height: 20%;
	float: left;
}

a {
	text-decoration:none;
}

a:hover {
	background-color:#ccc;
	color:#000000;
}

.highlight {
	background-color:green;
}

#leftsidepanel .pano_stop.selected {
	background-color:#cdb;
	padding-bottom: 1em;
}

span.icons {
	background:url("icons/icons.png");
	width:16px;
	height:16px;
	position:relative;
	float: right;
}

span.icons.video {
	background-position: 0px 0px;
}

span.icons.audio {
	background-position: 0px -26px;
}

span.icons.images {
	background-position: 0px -78px;
}

span.icons.text {
	background-position: 0px -104px;
}

.lectureicon {
	width: 40px;
	height: 40px;
	position: relative;
	float: right;
	vertical-align: bottom;
}

ul {
	list-style-type: none;
	margin-left: 1em;
}

.pano_stop {
	padding-bottom: 1em;
}

.pano_stop ul li {
	margin-bottom: .5em;
}

#credits {
	font-size: 10px;
	padding-top: 5em;
	padding-bottom: 2em;
	padding-left: 2em;
}

#responsedd {
	font-size: 18px;
	background-color: red;
}
