#leftsidepanel {
    height: 100%;
    min-height: 100%;
    width: 0%;
    margin: 0 auto;
    float:left;
    overflow:auto;
}
#container {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    float:left;
}

#gotopagetext {
	width: 50%;
	height: 20%;
	float: left;
}

#gotopagebox {
	width: 20%;
	height: 20%;
	float: left;
}

#gotopagesubmit {
	width: 20%;
	height: 20%;
	float: left;
}

a {
	text-decoration:none;
}

a:hover {
	background-color:yellow;
	color:#000000;
}


.highlight {
	background-color:green;
}

.selected {
	background-color:#FFA500;
}